.button  {
  height: 48px;
  padding: 0 32px;
  background: #FF4C30;
  color: #fff;
  border-radius: 8px;
  transition: background 0.2s;
}

.button:hover {
  background: #d63921;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  justify-content: center;
  padding: 16px;
  width: 100%;
}

.section-top {
  background: #BBE9F3;
}

.logo {
  width: 100%;
  max-width: 960px;
  margin-top: 32px;
}

.top-text {
  width: 75%;
  max-width: 640px;
  margin: 16px 0;
}

.section-slot {
  background: #FEF4AD;
}

.slot-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 16px;
}

@media (max-width: 767px) {
  .slot-container {
    flex-direction: column;
  }
}

.slot {
  flex-grow: 1;
  position: relative;
  overflow: hidden;
  border: 3px solid #646464;
  background-color: #fff;
}

.slot::before {
  content: '';
  display: block;
  padding-top: 75%;
}

.slot-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.section-description {
  background: #FFC4B7;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  background-color: #fff;
  text-align: center;
  padding: 16px;
}

.description-image {
  max-width: 40%;
}

.footer {
  background: #FFC4B7;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}